@import "/src/styles/salePrice";
@import "/src/styles/product";

.item {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  max-width: 180px;
  cursor: pointer;
  height: min-content;
  transition: transform .3s, box-shadow .3s;
  margin: 0 auto;
  color: #000;
  @extend %product;
  &__thumbnail {
    @extend %product__thumbnail;
  }
  &_sale {
    @extend %product_sale;
  }
  &__price {
    display: flex;
    color: #FF4343;
    font-weight: 500;
    font-size: 14px;
    margin: 0 0 7px;
  }
  &_old-price {
    @extend %sale-price_old-price;
    margin-left: .5rem;
  }
  &_line {
    @extend %sale-price_line;
  }
  &__review {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    img {
      margin: 0 9px 0 4px;
    }
  }
  &__brand {
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px 0;
  }
  &__title {
    font-weight: 300;
    font-size: 12px;
    color: #000;
  }
  &__add-cart {
    @extend %product__add-cart;
    display: none;
    margin-top: 12px;
  }
  .swiper-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    &-bullet {
      width: 4px;
      height: 4px;
      background: linear-gradient(96.78deg, rgba(246, 77, 77, 0.4) -57.09%, rgba(77, 94, 246, 0.4) 101.17%);
      border-radius: 1px;
      margin: 2px;
      &-active {
        background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
      }
    }
  }
}

@media screen and (min-width: 580px) {
  .item {
    &__review, .swiper-pagination, &__brand {
      display: none;
    }
    margin: 0;
  }
  .item:hover {
    transform: scale(1.1);
    position: relative;
    z-index: 999;
    margin-bottom: -100px;
    margin-top: -10px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.35);
    .item__review, .swiper-pagination {
      display: flex;
    }
    .item__brand, .item__add-cart {
      display: block;
    }
  }
}
