%gradient-bottom-line {
  position: relative;
  &:after {
    content: "";
    background: linear-gradient(96.78deg, rgba(246, 77, 77, 0.2) -57.09%, rgba(77, 94, 246, 0.2) 101.17%);
    width: 100%;
    position: absolute;
    height: 2px;
  }
}