%modal {
  position: absolute;
  background: #fff;
  width: 86vw;
  z-index: 999999;
  margin-top: 20px;
  box-shadow: -3px 2px 6px 4px rgba(0, 0, 0, 0.37);
  border-radius: 4px;
  padding: 0 .25rem;
}

%modal-container {
  display: flex;
  justify-content: flex-end;
  img {
    cursor: pointer;
  }
}

%modal-row {
  font-size: 16px;
  color: rgba(0,0,0,.6);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: .25rem;
  cursor: pointer;
  font-weight: normal;
  &.active {
    color: #000;
  }
}