@import "/src/styles/button";

.homepage {
  &_text {
    font-weight: 300;
    position: relative;
    display: flex;
    align-items: flex-end;
  }
  &_hide-shadow {
    height: 50px;
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
  }
  &__suppliers {
    display: flex;
  }
  &__banner-group {
    width: 28%;
    img {
      margin: 0 1.5rem 1.5rem 0;
      width: 100%;
    }
  }
  section {
    display: flex;
    flex-direction: column;
    b {
      margin: 1rem 0;
      cursor: pointer;
      background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      align-self: baseline;
      &:after {
        content: "";
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        margin: 0 0 2px 6px;
        transform: rotate(45deg);
      }
    }
  }
  &_link {
    align-self: flex-end;
    @extend %gradient-border-button;
  }
}

@media screen and (max-width: 800px) {
  .homepage__banner-group {
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .homepage  {
    section {
      margin: 1rem 0;
      h1 {
        font-size: 16px;
        font-weight: 400;
      }
    }
    &__suppliers {
      flex-direction: column;
    }
  }
}