@import "/src/styles/button";

%row {
  display: flex;
}

%col {
  @extend %row;
  flex-direction: column;
  justify-content: space-between;
}

%custom-scrollbar {
  &::-webkit-scrollbar-thumb {
    background: rgba(217,208,241,1);
  }
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    background: rgba(217,208,241,.5);
    width: 8px;
  }
}

.chat-messages {
  @extend %row;
  max-height: 60vh;
  &__history {
    width: 40%;
    overflow-y: auto;
   @extend %custom-scrollbar;
  }
  &__messages {
    width: 60%;
    margin-left: 1rem;
    @extend %row;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    flex-direction: column;
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      background: linear-gradient(96.78deg, rgba(246, 77, 77, 0.2) -57.09%, rgba(77, 94, 246, 0.2) 101.17%);
      textarea {
        border-radius: 4px;
        padding: .5rem;
        width: 100%;
        box-sizing: border-box;
        border: none;
        margin-bottom: .5rem;
      }
      button {
        @extend %button;
        background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
        color: #fff;
        align-self: flex-end;
      }
    }
  }
  &__message-container {
    @extend %custom-scrollbar;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    padding: .5rem;
    margin-bottom: 1rem;
  }
  &__message {
    background: linear-gradient(96.78deg, rgba(246, 77, 77, 0.05) -57.09%, rgba(77, 94, 246, 0.05) 101.17%);
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.28);
    padding: 1rem .5rem;
    width: 60%;
    align-self: flex-end;
    margin: .5rem 0;
    &.customer {
      align-self: baseline;
      background: #fff;
    }
    span {
      float: right;
    }
  }
}

.chat-message {
  @extend %row;
  margin: .5rem 0;
  padding: .5rem;
  color: #000;
  justify-content: space-evenly;
  &.active {
    background: linear-gradient(96.78deg, rgba(246, 77, 77, 0.05) -57.09%, rgba(77, 94, 246, 0.05) 101.17%);
  }
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  &__body {
    @extend %col;
    width: 50%;
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  span {
    font-weight: 300;
  }
  p {
    font-size: 14px;
    font-weight: 400;
  }
  &__date-area {
    @extend %col;
    p {
      font-size: 12px;
      font-weight: 300;
    }
    span {
      width: 13px;
      height: 13px;
      background: #FF4343;
      color: #fff;
      border-radius: 50%;
      @extend %row;
      justify-content: center;
      align-items: center;
      font-size: 8px;
      align-self: flex-end;
    }
  }
}

@media screen and (max-width: 500px) {
  .chat-messages {
    flex-direction: column;
    &__history {
      height: 15vh;
    }
    &__message-container {
      height: 25vh;
    }
    &__history, &__messages {
      width: 100%;
      margin: 0;
    }
  }
}