%gradient-border {
  border: 0.5px solid;
  border-image-source: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
  border-image: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
  -moz-border-image: -moz-linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
  -webkit-border-image: -webkit-linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
  border-image-slice: 1;
}