@import '/src/gradientSwiperNav.scss';

.banners {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 2rem;
    &__swiper img {
        width: 100%;
    }
    &__double-banners {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .swiper-container {
        max-width: 70%;
    }

    @extend %gradient-swiper-nav;

    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: .5rem;
        &-bullet {
            width: 4px;
            height: 4px;
            background: linear-gradient(96.78deg, rgba(246, 77, 77, 0.4) -57.09%, rgba(77, 94, 246, 0.4) 101.17%);
            border-radius: 50%;
            margin: 2px;
            &-active {
                background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
                padding: 1px;
            }
        }
    }
}

.small-menu {
    font-size: 14px;
    width: 100%;
    margin-right: 1rem;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.12);
    &__header {
        color: #fff;
        background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
        font-weight: 500;
    }
    &__header, &__body a, &__footer p {
        padding: .5rem 0 .5rem 2rem;
        display: flex;
        align-items: center;
        img {
            margin-right: .75rem;
        }
    }
    &__body a {
        color: #000;
        font-weight: 300;
        transition: all .3s;
        &:hover {
            color: rgba(0,0,0,.7);
        }
    }
    &__footer {
        p {
            font-weight: 400;
            background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            &::after {
                content: "";
                border: solid black;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                margin-left: .5rem;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .banners {
        flex-direction: row;
        &__double-banners {
            flex-direction: column;
            justify-content: space-between;
            img {
                margin-left: 1.5rem;
            }
            img:last-child {
                margin-top: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 580px) {
    .banners {
        &__double-banners {
            display: none;
        }
        .swiper-container {
            flex-direction: column-reverse;
        }
    }
}
